{% if available_modes.enable_selection %}
<button class="topbar-button dropdown-button" title="Change display mode"><span>{{ mode.header_name }}</span><i class="mdi mdi-menu-down"></i></button>
<ul class="dropdown-content mode-list">
  {% set active_group = available_modes.active_group(mode.mode_name) %}
  {% if active_group %}
    {% for add in active_group.modes %}
      {% if request.user.allow_mode(station, add.mode_name) %}
      <li><a class="mode{% if mode.mode_name == add.mode_name %} active{% endif %}" href="{{ request.url_for('mode', station=station, mode_name=add.mode_name) }}">{{ add.display_name }}</a></li>
      {% endif %}
    {% endfor %}
  {% endif %}

  {% for group in available_modes.groups %}
    {% if group != active_group and group.is_displayed(request, station) %}
    <li class="menu">
      <button class="menu-button"><span>{{ group.display_name }}</span><i class="mdi mdi-menu-right"></i></button>
      <ul class="menu-content">
        {% for add in group.modes %}
          {% if request.user.allow_mode(station, add.mode_name) %}
          <li><a class="mode{% if mode.mode_name == add.mode_name %} active{% endif %}" href="{{ request.url_for('mode', station=station, mode_name=add.mode_name) }}">{{ add.display_name }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </li>
    {% endif %}
  {% endfor %}
</ul>
{% else %}
<span class="topbar-text">{{ mode.header_name }}</span>
{% endif %}