<button class="topbar-button" id="interval_display" title="Change the displayed data range">Loading Data</button>

<script>
$(document).ready(function(e) {
    const timeButton = document.getElementById("interval_display");

    function updateTimeBar() {
        timeButton.textContent = TimeParse.toDisplayInterval(TimeSelect.interval_ms);
    }
    updateTimeBar();
    TimeSelect.onChanged(timeButton, updateTimeBar);

    $(timeButton).click(function(e) {
        showModal("{{ request.url_for('static', path='/modal/intervalselect.html') }}");
        e.preventDefault();
    });
});
</script>