Last updated: <span id="{{uid}}_last_update"></span>
<script>document.getElementById("{{uid}}_last_update").textContent = DashboardEntry.formatFullTime("{{ entry.updated_ms }}" * 1)</script>

{% set global_status = namespace(count=0) %}
{% for i in notifications %}
    {% if i.code|length == 0 and i.data %}
        {% set global_status.count = global_status.count + 1 %}
        <div class="global-status-header {{ i.severity.value }}">STATUS</div>
        {% if "\n" in i.data %}
            <pre class="global-status {{ i.severity.value }}">{{ i.data }}</pre>
        {% else %}
            <div class="global-status {{ i.severity.value }}">{{ i.data }}</div>
        {% endif %}
    {% endif %}
{% endfor %}

{% if notifications|length > global_status.count %}
<div class="status-list notifications">
    <div class="title">Notifications:</div>
{% for i in notifications %}
    {% if i.code|length > 0 %}
        <div class="display {{ i.severity.value }}">{{ i.display }}</div>
        {% if i.data %}
            {% if "\n" in i.data %}
                <pre class="data {{ i.severity.value }}">{{ i.data }}</pre>
            {% else %}
                <div class="data {{ i.severity.value }}">{{ i.data }}</div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endfor %}
</div>
{% endif %}

{% if watchdogs|length > 0 %}
<div class="status-list watchdogs">
    <div class="title">Expired Watchdogs:</div>
{% for i in watchdogs %}
    <div class="display {{ i.severity.value }} last-seen" last_seen="{{ i.last_seen_ms }}">{{ i.display }}</div>
    {% if i.data %}
        {% if "\n" in i.data %}
            <pre class="data {{ i.severity.value }} last-seen" last_seen="{{ i.last_seen_ms }}">{{ i.data }}</pre>
        {% else %}
            <div class="data {{ i.severity.value }} last-seen" last_seen="{{ i.last_seen_ms }}">{{ i.data }}</div>
        {% endif %}
    {% endif %}
{% endfor %}
</div>
{% endif %}

{% if conditions|length > 0 %}
<div class="status-list conditions">
    <div class="title">Conditions:</div>
{% for i in conditions %}
    <div class="display {{ i.severity.value }}" begin_present="{{ i.begin_present_ms }}"
         end_present="{{ i.end_present_ms }}" total_ms="{{ i.total_ms }}">{{ i.display }}</div>
    {% if i.data %}
        {% if "\n" in i.data %}
            <pre class="data {{ i.severity.value }}">{{ i.data }}</pre>
        {% else %}
            <div class="data {{ i.severity.value }}">{{ i.data }}</div>
        {% endif %}
    {% endif %}
{% endfor %}
</div>
{% endif %}

{% if events|length > 0 %}
<table class="event-list">
    <thead>
        <tr><th colspan="4">Events:</th></tr>
    </thead>
    <tbody>
{% for i in events %}
        <tr class="event-date hidden {{ i.severity.value }}">
            <td class="date" colspan="4" time="{{ i.occurred_at_ms }}"></td>
        </tr>
        <tr class="event-header {{ i.severity.value }}">
            <td class="time" colspan="2" time="{{ i.occurred_at_ms }}"></td>
            <td class="display" colspan="2">{{ i.display }}</td>
        </tr>
        {% if i.data %}
        <tr class="event-data {{ i.severity.value }}">
            <td></td>
            <td class="data" colspan="3">{% if "\n" in i.data %}<pre>{% endif %}{{ i.data }}{% if "\n" in i.data %}</pre>{% endif %}</td>
        </tr>
        {% else %}
        <tr class="event-data hidden {{ i.severity.value }}">
            <td></td>
            <td colspan="3"></td>
        </tr>
        {% endif %}
{% endfor %}
    </tbody>
</table>
{% endif %}


<style>
#{{uid}} .global-status-header {
  margin-top: 12px;
  font-weight: bold;
}
#{{uid}} .global-status-header.warning {
  color: #c90;
}
#{{uid}} .global-status-header.error {
  color: #c00;
}
#{{uid}} .global-status {
  margin-top: 2px;
}

#{{uid}} .status-list {
  margin-top: 12px;
}

#{{uid}} .status-list .title {
  font-size: 20px;
  font-weight: bold;
}

#{{uid}} .status-list .display {
  margin-top: 2px;
  font-weight: bold;
}
#{{uid}} .status-list .display.warning {
  color: #c90;
}
#{{uid}} .status-list .display.error {
  color: #c00;
}
#{{uid}} .status-list .data {
  margin-left: 16px;
}

#{{uid}} table.event-list {
  margin: 12px 0 2px 0;
  border-spacing: 0;
}
#{{uid}} table.event-list thead th {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
}
#{{uid}} table.event-list tr.hidden {
  display: none;
}
#{{uid}} table.event-list td:last-child {
  width: 100%;
}
#{{uid}} table.event-list tbody tr.event-header td:nth-child(1) {
  white-space: nowrap;
  font-family: monospace;
  padding-top: 4px;
}
#{{uid}} table.event-list tbody tr.event-header td:nth-child(2) {
  white-space: nowrap;
  font-weight: bold;
  padding-left: 8px;
  padding-top: 4px;
}
#{{uid}} table.event-list tbody tr.event-data td:nth-child(1) {
  width: 12px;
}
#{{uid}} table.event-list tbody tr.event-data td:nth-child(2) {
  padding-left: 8px;
  white-space: normal;
}

#{{uid}} tr.event-header:nth-child(6n+2):not(.warning):not(.error),
#{{uid}} tr.event-data:nth-child(6n+3):not(.warning):not(.error) > td:nth-child(1)
{
  background-color: #f8f8f8;
}
#{{uid}} tr.event-header:nth-child(6n+5):not(.warning):not(.error),
#{{uid}} tr.event-data:nth-child(6n):not(.warning):not(.error) > td:nth-child(1)
{
  background-color: #f0f0f0;
}
#{{uid}} tr.event-header:nth-child(6n+2).warning,
#{{uid}} tr.event-data:nth-child(6n+3).warning > td:nth-child(1)
{
  background-color: #f8e800;
}
#{{uid}} tr.event-header:nth-child(6n+5).warning,
#{{uid}} tr.event-data:nth-child(6n).warning > td:nth-child(1)
{
  background-color: #e8d800;
}
#{{uid}} tr.event-header:nth-child(6n+2).error,
#{{uid}} tr.event-data:nth-child(6n+3).error > td:nth-child(1)
{
  background-color: #ff4040;
}
#{{uid}} tr.event-header:nth-child(6n+5).error,
#{{uid}} tr.event-data:nth-child(6n).error > td:nth-child(1)
{
  background-color: #e04040;
}

#{{uid}} tr.event-date td {
  font-size: 10px;
  border-bottom: 1px solid black;
}

</style>

<script>
(function() {
    const entry = document.getElementById('{{uid}}').entry;
    const display_start_ms = "{{ start_epoch_ms }}" * 1;
    const display_end_ms = "{{ end_epoch_ms }}" * 1;

    $(".last-seen", entry.row_details).each(function() {
        this.title = "Last present: " + DashboardEntry.formatFullTime(this.getAttribute('last_seen'));
    });

    $(".conditions .display", entry.row_details).each(function() {
        const begin_present = this.getAttribute('begin_present') * 1;
        const end_present = this.getAttribute('end_present') * 1;
        const total_ms = this.getAttribute('total_ms') * 1;
        const display = this.textContent;

        let percent = (total_ms / (display_end_ms - display_start_ms)) * 100.0;
        if (percent < 1) {
            percent = 1;
        } else if (percent > 100) {
            percent = 100;
        }

        this.textContent = display + ": " + DashboardEntry.formatInterval(total_ms) +
            " (" + percent.toFixed(0) + "%)";

        this.title = "From: " + DashboardEntry.formatFullTime(begin_present) + "\nTo: " +
            DashboardEntry.formatFullTime(end_present);
    });

    $("table.event-list td.date", entry.row_details).each(function() {
        const epoch_ms = Math.floor(this.getAttribute('time') * 1);
        const date = new Date(epoch_ms);
        this.textContent = date.toDateString();
        this.title = DashboardEntry.formatUTCShortDate(epoch_ms);
    });
    $("table.event-list td.time", entry.row_details).each(function() {
        const epoch_ms = Math.floor(this.getAttribute('time') * 1);
        this.textContent = DashboardEntry.formatLocalShortTime(epoch_ms);
        this.title = DashboardEntry.formatFullTime(epoch_ms);
    });

    let priorDate = undefined;
    $("table.event-list tr.event-date", entry.row_details).each(function() {
        const date = $("td.date", this).first().text();
        if (date !== priorDate) {
            this.classList.remove('hidden');
        }
        priorDate = date;
    });
})();
</script>