[Unit]
Description=Forge visualization server

[Service]
Type=notify
DynamicUser=yes
RuntimeDirectory=forge-vis
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
WorkingDirectory=/opt/forge/vis
ExecReload=/bin/kill -s HUP $MAINPID
ExecStart=/bin/bash -c "exec gunicorn \
    --worker-class uvicorn.workers.UvicornWorker \
    --workers $$(nproc) \
    'forge.vis.server:app'"
