[Unit]
Description=Forge visualization server socket

[Install]
WantedBy=sockets.target

[Socket]
ListenStream=/run/forge-vis.socket
SocketUser=www-data
SocketMode=600
