<link rel="stylesheet" type="text/css" href="{{ request.url_for('static', path='/css/edit_table.css') }}"/>

<table class="edits">
  <thead>
    <tr class="edit-header">
      <th scope="col" colspan="2">Time <button sort="0" class="sort-down mdi mdi-arrow-down-bold-box" title="Change sort order"></button><button sort="0" class="sort-up mdi mdi-arrow-up-bold-box" title="Change sort order"></button></th>
      <th scope="col">Type <button sort="2" class="sort-down mdi mdi-arrow-down-bold-box" title="Change sort order"></button><button sort="2" class="sort-up mdi mdi-arrow-up-bold-box" title="Change sort order"></button></th>
      <th scope="col">Author <button sort="3" class="sort-down mdi mdi-arrow-down-bold-box" title="Change sort order"></button><button sort="3" class="sort-up mdi mdi-arrow-up-bold-box" title="Change sort order"></button></th>
      <th scope="col">Modified <button sort="4" class="sort-down mdi mdi-arrow-down-bold-box" title="Change sort order"></button><button sort="4" class="sort-up mdi mdi-arrow-up-bold-box" title="Change sort order"></button></th>
      <th scope="col">Action <button sort="5" class="sort-down mdi mdi-arrow-down-bold-box" title="Change sort order"></button><button sort="5" class="sort-up mdi mdi-arrow-up-bold-box" title="Change sort order"></button></th>
      <th scope="col">Summary <button sort="6" class="sort-down mdi mdi-arrow-down-bold-box" title="Change sort order"></button><button sort="6" class="sort-up mdi mdi-arrow-up-bold-box" title="Change sort order"></button></th>
      <th scope="col">Comment <button sort="7" class="sort-down mdi mdi-arrow-down-bold-box" title="Change sort order"></button><button sort="7" class="sort-up mdi mdi-arrow-up-bold-box" title="Change sort order"></button></th>
    </tr>
  </thead>
  <tbody id="edit_directives">

  </tbody>
</table>

<script>
{% include 'editing/table.js' %}
</script>