[Unit]
Description=Forge acquisition control started
After=forge-acquisition-initialize.target
Before=forge-acquisition-start.target
Conflicts=forge-acquisition-stop.target