[Unit]
Description=Forge acquisition system started
After=forge-acquisition-initialize.target forge-acquisition-control.target
Conflicts=forge-acquisition-stop.target