body {
  margin: 0;
  padding: 0;
}

.center-content {
  position: relative;
  display: flex;
}

.table-content {
  margin: 0 0 0 250px;
  padding: 0;
  position: relative;
  min-height: 100vh;
}

nav.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
}

.sidebar > ul {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  list-style-type: none;
  background-color: #f1f1f1;
}

button.mdi {
  border: none;
  outline: none;
  background: transparent;
  cursor: pointer;
  box-sizing: border-box;
}

#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.3);
}
#loading .mdi-loading {
  font-size: 100px;
  flex-grow: 1;
  text-align: center;
  color: #3AF;
}