.sidebar > ul > li:nth-child(odd) {
  background-color: #f1f1f1;
}
.sidebar > ul > li:nth-child(even) {
  background-color: #e9e9e9;
}
.sidebar > ul > li {
  height: 48px;
}

.menu-button {
  height: 48px;
  padding: 14px 16px;
  width: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
  font-family: serif;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
li.disabled > .menu-button {
  cursor: default;
}
li:hover:not(.disabled) > .dropdown-button {
  background-color: #555;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #eee;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  z-index: 1;
  list-style: none inside;
  max-width: calc(min(50vw, 600px));
  min-width: 200px;
  overflow: auto;
  max-height: calc(min(80vh, 100vh - 144px));
  padding: 0;
}
li:hover:not(.disabled) > .dropdown-content {
  display: block;
}

ul.dropdown-content > li {
  padding: 4px 8px;
  height: 20px;
}
ul.dropdown-content > li:nth-child(odd) {
  background-color: #f1f1f1;
}
ul.dropdown-content > li:nth-child(even) {
  background-color: #e9e9e9;
}

button.menu-select-all {
  height: 20px;
  padding: 0;
  width: 100%;
  border: none;
  outline: none;
  background-color: inherit;
  color: inherit;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
  font-family: serif;
  text-align: left;
}

ul.dropdown-content > li:hover {
  background-color: #444;
  color: white;
}

ul.dropdown-content > li > label {
  width: 100%;
  display: block;
  cursor: pointer;
  font-size: 16px;
  white-space: nowrap;
}

#time_select {
  height: 48px;
  padding: 16px 16px;
  width: calc(100% - 60px);
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 16px;
  box-sizing: border-box;
  font-family: serif;
  text-align: left;
  font-weight: bold;
  white-space: nowrap;
}
#time_select:hover {
  background-color: #555;
  color: white;
}

#time_new {
  height: 48px;
  width: 52px;
  padding: 10px 0 10px 0;
  font-size: 22px;
}
#time_new:hover {
  background-color: #555;
  color: white;
}

#user_logout, #user_login {
  position: absolute;
  left: 4px;
  bottom: 4px;
}
#user_profile {
  position: absolute;
  right: 4px;
  bottom: 4px;
}
#user_logout, #user_login, #user_profile {
  font-size: 12px;
}