@import "input_switch.css";

body {
  min-width: 900px;
  min-height: 400px;
  margin: 0;
  padding: 0;
}

.topbar-button.requires-selected[disabled=disabled] {
  display: none;
}

.main-menu-list {
  min-width: 300px;
}

.toggle-menu-item {
  display: flex;
  align-items: center;
  padding: 8px;
}
.main-menu-list > :nth-child(odd) {
  background-color: #e0e0e0;
}
.main-menu-list > :not(:nth-child(odd)) {
  background-color: #c0c0c0;
}

.toggle-menu-item > :not(:last-child) {
  text-align: left;
  flex-grow: 1;
}
.toggle-menu-item > :last-child {
  text-align: right;
}

.action-menu-item {
  display: flex;
  align-items: center;
  padding: 8px;
}
.action-menu-item > a {
  line-height: 34px;
  align-items: center;
  font-size: inherit;
  text-decoration: none;
  color: black;
  width: 100%;
  text-align: left;
}


#loading {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.3);
}

.mdi-loading {
  font-size: 100px;
  flex-grow: 1;
  text-align: center;
  color: #3AF;
}