<div class="display-container collapsable collapsed{% if writable %} menu{% endif %}">
    <div class="header communication-state warning-state format-source" instrument="Ecotech Aurora"></div>

    {% include 'acquisition/display/header_buttons.html' %}

    {% if writable %}
    <div class="menu communication-state hide-false">
        <button class="menu mdi mdi-menu" title="Instrument actions"></button>
        <ul class="menu menu-below">
            <li><button id="{{uid}}_start_zero" class="simple-command" command="start_zero"
                        title="Start a zero offset adjustment.  Measurements will be disabled while the instrument zeros.">Start Zero</button></li>
            <li><button id="{{uid}}_start_spancheck" class="simple-command" command="start_spancheck"
                        title="Start a span gas calibration check.  This will compare the CO₂ scattering to that of filtered air to generate a percentage error and calibration factors.  Measurements are disabled during the span check.">Start Spancheck</button></li>
            <li><button id="{{uid}}_stop_spancheck" class="simple-command" command="stop_spancheck"
                        title="Abort the current span gas calibration check.  The instrument will return to normal sampling after the spancheck finishes aborting.">Stop Spancheck</button></li>
            <li><button id="{{uid}}_apply_spancheck_calibration" class="simple-command" command="apply_spancheck_calibration"
                        title="Apply the result of the last spancheck to the instrument calibration.">Apply Spancheck Calibration</button></li>
            <li><button class="simple-command" command="reboot"
                        title="Reboot the instrument (communications will e interrupted).">Reboot Instrument</button></li>
        </ul>
    </div>
    {% endif %}

    {% include 'acquisition/display/nocommunication_content.html' %}

    <nav class="content display-tabs communication-state hide-false">
        <ul>
            <li><button display="#{{uid}} .tab-scattering">Scattering</button></li>
            <li><button display="#{{uid}} .tab-counts">Counts</button></li>
            <li class="value-exists hide-false" field="spancheck_result"><button display="#{{uid}} .tab-spancheck">Spancheck Results</button></li>
        </ul>
    </nav>

    <table class="content display-data column-split communication-state hide-false tab-scattering">
        <thead>
            <tr>
                <th></th>
                <th class="blue">B (450 nm)</th>
                <th class="green">G (525 nm)</th>
                <th class="red">R (635 nm)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>σ<sub>sp</sub> (Mm⁻¹)</td>
                <td class="blue value-formatted" field="BsB" decimals="2"></td>
                <td class="green value-formatted" field="BsG" decimals="2"></td>
                <td class="red value-formatted" field="BsR" decimals="2"></td>
            </tr>
            <tr>
                <td>σ<sub>bsp</sub> (Mm⁻¹)</td>
                <td class="blue value-formatted" field="BbsB" decimals="2"></td>
                <td class="green value-formatted" field="BbsG" decimals="2"></td>
                <td class="red value-formatted" field="BbsR" decimals="2"></td>
            </tr>

            <tr>
                <td>σ<sub>sp wall</sub> (Mm⁻¹)</td>
                <td class="blue value-formatted" field="BswB" decimals="2"></td>
                <td class="green value-formatted" field="BswG" decimals="2"></td>
                <td class="red value-formatted" field="BswR" decimals="2"></td>
            </tr>
            <tr>
                <td>σ<sub>bsp wall</sub> (Mm⁻¹)</td>
                <td class="blue value-formatted" field="BbswB" decimals="2"></td>
                <td class="green value-formatted" field="BbswG" decimals="2"></td>
                <td class="red value-formatted" field="BbswR" decimals="2"></td>
            </tr>

            <tr>
                <td>σ<sub>sp wall shift</sub> (Mm⁻¹)</td>
                <td class="blue value-formatted" field="BswdB" decimals="2"></td>
                <td class="green value-formatted" field="BswdG" decimals="2"></td>
                <td class="red value-formatted" field="BswdR" decimals="2"></td>
            </tr>
            <tr>
                <td>σ<sub>bsp wall shift</sub> (Mm⁻¹)</td>
                <td class="blue value-formatted" field="BbswdB" decimals="2"></td>
                <td class="green value-formatted" field="BbswdG" decimals="2"></td>
                <td class="red value-formatted" field="BbswdR" decimals="2"></td>
            </tr>
        </tbody>
    </table>

    <table class="content display-data column-split communication-state hide-false tab-counts">
        <thead>
            <tr>
                <th></th>
                <th class="blue">B (450 nm)</th>
                <th class="green">G (525 nm)</th>
                <th class="red">R (635 nm)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>C<sub>total</sub> (Hz)</td>
                <td class="blue value-formatted" field="CsB" decimals="0" rightpad="6"></td>
                <td class="green value-formatted" field="CsG" decimals="0" rightpad="6"></td>
                <td class="red value-formatted" field="CsR" decimals="0" rightpad="6"></td>
            </tr>
            <tr>
                <td>C<sub>back</sub> (Hz)</td>
                <td class="blue value-formatted" field="CbsB" decimals="0" rightpad="6"></td>
                <td class="green value-formatted" field="CbsG" decimals="0" rightpad="6"></td>
                <td class="red value-formatted" field="CbsR" decimals="0" rightpad="6"></td>
            </tr>

            <tr>
                <td>Reference (Hz)</td>
                <td class="blue value-formatted" field="CfB" decimals="0" rightpad="6"></td>
                <td class="green value-formatted" field="CfG" decimals="0" rightpad="6"></td>
                <td class="red value-formatted" field="CfR" decimals="0" rightpad="6"></td>
            </tr>

            <tr>
                <td>Ratio<sub>total</sub></td>
                <td class="blue value-formatted" field="CrB" decimals="5"></td>
                <td class="green value-formatted" field="CrG" decimals="5"></td>
                <td class="red value-formatted" field="CrR" decimals="5"></td>
            </tr>
            <tr>
                <td>Ratio<sub>back</sub></td>
                <td class="blue value-formatted" field="CbrB" decimals="5"></td>
                <td class="green value-formatted" field="CbrG" decimals="5"></td>
                <td class="red value-formatted" field="CbrR" decimals="5"></td>
            </tr>
        </tbody>
    </table>

    <table class="content display-data column-split communication-state hide-false tab-spancheck">
        <thead>
            <tr>
                <th></th>
                <th class="blue">B (450 nm)</th>
                <th class="green">G (525 nm)</th>
                <th class="red">R (635 nm)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td title="Percent error">Percent Error<sub>total</sub> (%)</td>
                <td class="blue value-spancheck" path="percent_error.total.B" decimals="2" rightpad="1"></td>
                <td class="green value-spancheck" path="percent_error.total.G" decimals="2" rightpad="1"></td>
                <td class="red value-spancheck" path="percent_error.total.R" decimals="2" rightpad="1"></td>
            </tr>
            <tr>
                <td title="Percent error">Percent Error<sub>back</sub> (%)</td>
                <td class="blue value-spancheck" path="percent_error.back.B" decimals="2" rightpad="1"></td>
                <td class="green value-spancheck" path="percent_error.back.G" decimals="2" rightpad="1"></td>
                <td class="red value-spancheck" path="percent_error.back.R" decimals="2" rightpad="1"></td>
            </tr>

            <tr>
                <td title="Spancheck sensitivity factor, defined as the photon count rate attributable to Rayleigh scattering by air at STP">Sensitivity<sub>total</sub> (Hz)</td>
                <td class="blue value-spancheck" path="sensitivity_factor.total.B" decimals="1" rightpad="2"></td>
                <td class="green value-spancheck" path="sensitivity_factor.total.G" decimals="1" rightpad="2"></td>
                <td class="red value-spancheck" path="sensitivity_factor.total.R" decimals="1" rightpad="2"></td>
            </tr>
            <tr>
                <td title="Spancheck backwards-hemispheric sensitivity factor, defined as the photon count rate attributable to Rayleigh backwards-hemispheric by air at STP">Sensitivity<sub>back</sub> (Hz)</td>
                <td class="blue value-spancheck" path="sensitivity_factor.back.B" decimals="1" rightpad="2"></td>
                <td class="green value-spancheck" path="sensitivity_factor.back.R" decimals="1" rightpad="2"></td>
                <td class="red value-spancheck" path="sensitivity_factor.back.G" decimals="1" rightpad="2"></td>
            </tr>

            <tr>
                <td title="Total scattering calibration slope.">M<sub>total</sub> (Mm)</td>
                <td class="blue value-spancheck" path="calibration.M.total.B" decimals="3" exponential></td>
                <td class="green value-spancheck" path="calibration.M.total.G" decimals="3" exponential></td>
                <td class="red value-spancheck" path="calibration.M.total.R" decimals="3" exponential></td>
            </tr>
            <tr>
                <td title="Back scattering calibration slope.">M<sub>back</sub> (Mm)</td>
                <td class="blue value-spancheck" path="calibration.M.back.B" decimals="3" exponential></td>
                <td class="green value-spancheck" path="calibration.M.back.G" decimals="3" exponential></td>
                <td class="red value-spancheck" path="calibration.M.back.R" decimals="3" exponential></td>
            </tr>
        </tbody>
    </table>

    <table class="content display-data communication-state hide-false tab-scattering tab-counts">
        <tbody>
            <tr> <td>Sample temperature (°C)</td>   <td class="value-formatted" field="Tsample" rightpad="1"></td> </tr>
            <tr> <td>Sample RH (%)</td>             <td class="value-formatted" field="Usample" rightpad="1"></td> </tr>
            <tr> <td>Sample pressure (hPa)</td>     <td class="value-formatted" field="Psample" rightpad="1"></td> </tr>
            <tr> <td>Cell temperature (°C)</td>     <td class="value-formatted" field="Tcell" rightpad="1"></td> </tr>
            <tr> <td>Dark counts (Hz)</td>          <td class="value-formatted" field="Cd" decimals="0" rightpad="3"></td> </tr>
        </tbody>
    </table>

    <div class="content display-data communication-state notification-state hide-false" notification="blank">
        <span class="mdi mdi-loading mdi-spin"></span>Filtered air blank in progress
    </div>
    <div class="content display-data communication-state notification-state hide-false" notification="zero">
        <span class="mdi mdi-loading mdi-spin"></span>Zero in progress
    </div>
    <div class="content display-data communication-state notification-state hide-false" notification="spancheck">
        <span class="mdi mdi-loading mdi-spin"></span>Spancheck in progress
    </div>
    <div class="content display-data communication-state notification-state hide-false" notification="calibration">
        <span class="mdi mdi-loading mdi-spin"></span>Calibration in progress
    </div>

    <div class="content display-data communication-state notification-state hide-false warning"
         notification="inconsistent_zero">Inconsistent zeroing mode and data filter settings</div>
    <div class="content display-data communication-state notification-state hide-false warning"
         notification="backscatter_fault">Backscatter fault detected</div>
    <div class="content display-data communication-state notification-state hide-false warning"
         notification="backscatter_digital_fault">Backscatter digital IO fault condition</div>
    <div class="content display-data communication-state notification-state hide-false warning"
         notification="shutter_fault">Shutter fault detected</div>
    <div class="content display-data communication-state notification-state hide-false warning"
         notification="light_source_fault">Light source fault detected</div>
    <div class="content display-data communication-state notification-state hide-false warning"
         notification="pressure_sensor_fault">Pressure sensor fault detected</div>
    <div class="content display-data communication-state notification-state hide-false warning"
         notification="enclosure_temperature_fault">Enclosure temperature sensor fault detected</div>
    <div class="content display-data communication-state notification-state hide-false warning"
         notification="sample_temperature_fault">Sample temperature sensor fault detected</div>
    <div class="content display-data communication-state notification-state hide-false warning"
         notification="rh_fault">RH sensor fault detected</div>
    <div class="content display-data communication-state notification-state hide-false warning"
         notification="pmt_fault">PMT fault detected</div>
    <div class="content display-data communication-state notification-state hide-false warning"
         notification="warmup_fault">Failure detected during instrument warmup</div>
    <div class="content display-data communication-state notification-state hide-false warning"
         notification="backscatter_high_warning">High backscatter warning detected</div>
    <div class="content display-data communication-state notification-state hide-false warning"
         notification="system_fault">Unspecified system fault</div>

</div>


<style>
#{{uid}} table sub {
    font-size: 10px;
}
#{{uid}} .blue { color: #00a; }
#{{uid}} .green { color: #0a0; }
#{{uid}} .red { color: #a00; }
#{{uid}} .warning { color: #f80; }
</style>

<script>
(function() {
    {% include 'acquisition/display/tab_contents.js' %}
})();
(function() {
    const context = document.getElementById('{{uid}}').context;
    context.standardMode();
    context.attachSpancheck();

    $('.value-spancheck', context.root).each(function() {
        const path = this.getAttribute('path').split('.');
        const formatter = context.createNodeFormatter(this);

        context.addSourceTarget((value) => {
            for (const p of path) {
                value = value[p];
                if (value === undefined) {
                    break;
                }
            }
            return formatter(value);
        }, context.source, 'spancheck_result');
    });

    function setVisible(id, visible) {
        if (visible) {
            $(id).css('display', '');
        } else {
            $(id).css('display', 'none');
        }
    }

    let haveSpancheckResults = false;
    let inSpancheck = false;
    let inRunMode = true;

    function updateVisibility() {
        setVisible('#{{uid}}_start_zero', inRunMode);
        setVisible('#{{uid}}_start_spancheck', inRunMode);
        setVisible('#{{uid}}_stop_spancheck', inSpancheck);
        setVisible('#{{uid}}_apply_spancheck_calibration', haveSpancheckResults && inRunMode);
    }

    context.addInstrumentState((source, state) => {
        const notifications = state.notifications;
        if (!notifications) {
            inRunMode = true;
            inSpancheck = false;
        } else {
            inSpancheck = notifications.includes('spancheck');
            inRunMode = !inSpancheck && !notifications.includes('zero') && !notifications.includes('blank') && !notifications.includes('calibration');
        }
        updateVisibility();
    }, context.source);

    context.addSourceTarget((value) => {
        haveSpancheckResults = value && value.calibration && value.calibration.M;
        updateVisibility();
    }, context.source, 'spancheck_result');
})();
</script>