<div class="display-container collapsable collapsed{% if writable %} menu{% endif %}">
    <div class="header communication-state warning-state format-source" instrument="Magee AE36"></div>

    {% include 'acquisition/display/header_buttons.html' %}

    {% include 'acquisition/display/nocommunication_content.html' %}

    <table class="content display-data column-split communication-state hide-false">
        <thead>
            <tr>
                <th></th>
                <th>370 nm</th>
                <th>470 nm</th>
                <th>520 nm</th>
                <th>590 nm</th>
                <th>630 nm</th>
                <th>880 nm</th>
                <th>950 nm</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>EBC (μg/m³)</td>
                {% for wavelength in range(7) %}
                <td class="value-formatted" field="X{{wavelength+1}}" decimals="3" rightpad="3"></td>
                {% endfor %}
            </tr>
            <tr>
                <td>k</td>
                {% for wavelength in range(7) %}
                <td class="value-formatted" field="k{{wavelength+1}}" decimals="6"></td>
                {% endfor %}
            </tr>
            <tr>
                <td>σ<sub>ap 1</sub> (Mm⁻¹)</td>
                {% for wavelength in range(7) %}
                <td class="value-formatted" field="Ba{{wavelength+1}}" decimals="2" rightpad="4"></td>
                {% endfor %}
            </tr>
            <tr>
                <td>σ<sub>ap 2</sub> (Mm⁻¹)</td>
                {% for wavelength in range(7) %}
                <td class="value-formatted" field="Bas{{wavelength+1}}" decimals="2" rightpad="4"></td>
                {% endfor %}
            </tr>
            <tr>
                <td>Transmittance<sub>1</sub></td>
                {% for wavelength in range(7) %}
                <td class="value-formatted" field="Ir{{wavelength+1}}" decimals="6"></td>
                {% endfor %}
            </tr>
            <tr>
                <td>Transmittance<sub>2</sub></td>
                {% for wavelength in range(7) %}
                <td class="value-formatted" field="Irs{{wavelength+1}}" decimals="6"></td>
                {% endfor %}
            </tr>
            <tr>
                <td>I<sub>reference</sub></td>
                {% for wavelength in range(7) %}
                <td class="value-formatted" field="If{{wavelength+1}}" decimals="0" rightpad="7"></td>
                {% endfor %}
            </tr>
            <tr>
                <td>I<sub>sample 1</sub></td>
                {% for wavelength in range(7) %}
                <td class="value-formatted" field="Ip{{wavelength+1}}" decimals="0" rightpad="7"></td>
                {% endfor %}
            </tr>
            <tr>
                <td>I<sub>sample 2</sub></td>
                {% for wavelength in range(7) %}
                <td class="value-formatted" field="Ips{{wavelength+1}}" decimals="0" rightpad="7"></td>
                {% endfor %}
            </tr>
        </tbody>
    </table>

    <table class="content display-data communication-state hide-false">
        <tbody>
            <tr> <td>Biomass burning (%)</td>           <td class="value-formatted" field="PCT" decimals="1" rightpad="2"></td> </tr>
            <tr> <td>Flow<sub>1</sub> (lpm)</td>        <td class="value-formatted" field="Q1" decimals="3"></td> </tr>
            <tr> <td>Flow<sub>2</sub> (lpm)</td>        <td class="value-formatted" field="Q2" decimals="3"></td> </tr>
        </tbody>
    </table>

    <table class="content display-data communication-state hide-false">
        <thead>
            <tr> <th colspan="2">Temperature</th> </tr>
        </thead>
        <tbody>
            <tr> <td>Inlet (°C)</td>                    <td class="value-formatted" field="Tinlet" decimals="1" rightpad="2"></td> </tr>
            <tr> <td>Controller (°C)</td>               <td class="value-formatted" field="Tcontroller" decimals="1" rightpad="2"></td> </tr>
            <tr> <td>LED driver (°C)</td>               <td class="value-formatted" field="Tled" decimals="1" rightpad="2"></td> </tr>
            <tr> <td>LED source (°C)</td>               <td class="value-formatted" field="Tsource" decimals="1" rightpad="2"></td> </tr>
            <tr> <td>Tape (°C)</td>                     <td class="value-formatted" field="Ttape" decimals="1" rightpad="2"></td> </tr>
        </tbody>
    </table>

    <table class="content display-data communication-state hide-false">
        <thead>
            <tr> <th colspan="2">Humidity</th> </tr>
        </thead>
        <tbody>
            <tr> <td>Inlet (%)</td>                 <td class="value-formatted" field="Uinlet" decimals="1" rightpad="2"></td> </tr>
            <tr> <td>Tape (%)</td>                  <td class="value-formatted" field="Utape" decimals="1" rightpad="2"></td> </tr>
        </tbody>
    </table>

    <div class="content display-data communication-state notification-state hide-false"
         notification="spot_advancing"><span class="mdi mdi-loading mdi-spin"></span>Advancing spot</div>

</div>

<style>
#{{uid}} table sub {
    font-size: 10px;
}
#{{uid}} .warning { color: #f80; }
</style>

<script>
(function() {
    const context = document.getElementById('{{uid}}').context;
    context.standardMode();
})();
</script>