<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Status Dashboard</title>
{% include 'global/header.html' %}
{% include 'dashboard/header.html' %}
</head>
<body>

<div class="table-content">
{% include 'dashboard/table.html' %}
</div>

{% include 'dashboard/filtercontrols.html' %}

<span id="loading">
  <span class="mdi mdi-loading mdi-spin"></span>
</span>

{% include 'modal.html' %}

<script>
var EMAIL_PROMPT_ENTRIES;

{% include 'dashboard/entry.js' %}
{% include 'dashboard/sorting.js' %}
$(document).ready(function() {
{% include 'dashboard/display.js' %}
});
</script>

</body>
</html>