<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ station|upper }}</title>
{% include 'global/header.html' %}
{% include 'view/header.html' %}
  <link rel="stylesheet" type="text/css" href="{{ request.url_for('static', path='/css/viewlist.css') }}"/>
  <link rel="stylesheet" type="text/css" href="{{ request.url_for('static', path='/css/topbar.css') }}"/>
</head>
<body>

<div class="center-content">
  <nav class="sidebar" title="Available displays">
    <ul>
  {% for view in mode.views %}
      <li><a class="view-select" name="{{ view.view_name }}" href="{{ request.url_for('view_standalone', station=station, view_name=view.view_name) }}" interior="{{ request.url_for('view', station=station, view_name=view.view_name) }}">{{ view.display_name }}</a></li>
  {% endfor %}
    </ul>
  </nav>

  <div class="view-content" id="view_content"></div>
</div>

<button class="time-history" id="time_history_container">
  <span class="time-history-saved-range" id="time_history_saved" title="Saved time range, press Z to go back"></span>
</button>

<nav class="topbar">
  <ul>
    <li class="topbar-left">
      {% include 'mode/topbar/stations.html' %}
    </li>
    <li class="topbar-left">
      {% include 'mode/topbar/modes.html' %}
    </li>
    <li class="topbar-center">
      {% include 'mode/topbar/timerange.html' %}
    </li>

    <li class="topbar-right">
      <button class="topbar-button dropdown-button mdi mdi-menu"></button>
      <ul class="dropdown-content main-menu-list">
        {% if mode.enable_export %}
        <li><a id="show_export_data" class="main-menu-item" href="{{ request.url_for('export_modal', station=station, mode_name=mode.mode_name) }}" title="Show the export data dialog">Export data</a></li>
        {% endif %}

        {% set edit_directives_mode = available_modes.display_edit_directives(mode.mode_name) %}
        {% if edit_directives_mode %}
        <li><a id="show_edit_directives" style="display: none" class="main-menu-item" href="{{ request.url_for('editing', station=station, mode_name=edit_directives_mode) }}" title="Show edit directives">Edit directives</a></li>
        {% endif %}

        <li><a id="show_event_log" class="main-menu-item" href="{{ request.url_for('eventlog', station=station, mode_name=mode.mode_name) }}" title="Show the event log">Message Log</a></li>
        <li><a id="show_passed_summary" class="main-menu-item" href="{{ request.url_for('passed_modal', station=station, mode_name=mode.mode_name) }}" title="Show the passed data summary dialog">Show Passed</a></li>
        <li><a id="show_instrument_summary" class="main-menu-item" href="{{ request.url_for('instruments_modal', station=station, mode_name=mode.mode_name) }}" title="Show the available instruments summary dialog">Show Instruments</a></li>

        {% if ENABLE_DASHBOARD %}
        <li><a class="main-menu-item" href="{{ request.url_for('dashboard') }}?station={{ station }}">Status Dashboard</a></li>
        {% endif %}

        {% include 'mode/topbar/menuitems.html' %}
      </ul>
    </li>
  </ul>
</nav>

{% include 'mode/dataloading.html' %}
{% include 'modal.html' %}

<script>
(function() {
{% include 'mode/viewlist.js' %}
})();
(function() {
{% include 'mode/export.js' %}
})();
(function() {
{% include 'mode/status.js' %}
})();
(function() {
{% include 'mode/edit_directives.js' %}
})();
</script>
</body>
</html>