<style>
nav.controls {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.0;
  transition: 0.2s;
  margin: 2px 0 0 2px;
}
nav.controls:hover {
  opacity: 1;
}
nav.controls > button {
  border: none;
  text-align: center;
  font-size: 16px;
  margin: 0;
  padding: 2px;
  background: rgba(0, 0, 0, 0);
}
nav.controls > button.character-icon {
  font-weight: bold;
  font-family: monospace;
  width: 16px;
  text-align: center;
}
nav.controls > button.hidden {
  display: none;
}
</style>

<nav id="control_bar" class="controls"></nav>

