<style>
div.view {
  flex-grow: 1;
}

div.scroll {
  height: 900px;
}
</style>

<div class="view" id="view_sizecounts"></div>
{% include 'view/controls.html' %}

<script>
(function() {
// {% for component in view.required_components %}
{% include 'view/components/' + component + '.js' %}
// {% endfor %}

{% include 'view/common/replot.js' %}
{% include 'view/common/timeseries.js' %}
{% include 'view/common/shapes.js' %}
{% include 'view/common/sizebins.js' %}

const RecordProcessing = new Map();
// {% for record, processing in view.processing.items() %}
RecordProcessing.set('{{ record }}', {{ processing.script | safe }});
// {% endfor %}

{% include 'view/layout/sizecounts.js' %}
{% include 'view/sizecounts.js' %}
})();
</script>
