<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Data View</title>
{% include 'global/header.html' %}
{% include 'view/header.html' %}
</head>
<body>

<style>
body, html {
    margin: 0;
    padding: 0;
}
#view_content {
  position: relative;
  display: flex;
  min-height: 100vh;
}
</style>

<div id="view_content"></div>

<script>
$(document).ready(function() {
    const queryParameters = new URLSearchParams(window.location.search);
    const viewURL = new URL('{{ view_url }}');
    queryParameters.forEach((value, param) => {
        viewURL.searchParams.append(param, value);
    });
    $('#view_content').load(viewURL.href);
});
</script>

</body>
</html>